[project]
name = "cilp-walkability"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "torch>=2.8.0",
    "torchvision>=0.23.0",
]
